<div class="container-fluid mb-4 d-none d-sm-none d-md-none d-lg-block footer-animation" style="z-index: 5;">
  <div style="font-family: google-sans;padding-top:9%; padding-left:8%;">
      <div class="row ">
          <div class="col-md-10 offset-md-1 ">
            <p class="first" style="font-size:38px;">
              Helo <b style="color:blue;">I'm NaveenSingh </b> <br/>
            </p>
            <p style="font-family: google-sans;color:#9aa0a6;font-size:27px;"> Full Stack Developer</p>
          </div>
      </div>
  </div>
  <div class="row ">
      <div class="third col-md-10 offset-md-1 ">
          <p style="font-family: google-sans; padding-left:9%;">
              <span style="line-height:2.0;"></span>
              <a href="" target="_blank">
              <i class="fa fa-twitter fa-lg" aria-hidden="true" style="color:#2E2E2E;font-size:30px;"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" target="_blank">
              <i class="fa fa-github fa-lg" aria-hidden="true" style="color:#2E2E2E;font-size:30px;"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" target="_blank">
              <i class="fa fa-linkedin fa-lg" aria-hidden="true" style="color:#2E2E2E;font-size:30px;"></i>
              </a>
              &nbsp;&nbsp;&nbsp;
              <a href="#" target="_blank">
              <i class="fa fa-whatsapp fa-lg" aria-hidden="true" style="color:#2E2E2E;font-size:30px;"></i>
              </a>
          </p>
      </div>
  </div>
  <div style="padding-left:45%;margin-top:-15%;">
    <img src="assets/img/ban.jpg" width="500">
  </div>
</div>
<br/>
<hr>
<br/><br/><br/><br/>


<div style="margin-right:9%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 style="font-family: google-sans;">About me</h1>
        <p class="third" style="font-family: google-sans;font-size:1.2rem;text-justify: inter-word;letter-spacing:normal;color:#9aa0a6;font-weight:400;">
          Hello, I’m a Naveen, web-developer based on Coimbatore. I have rich experience in web site design & building and customization. Also I am good at,<br/><br/>
          <button type="button" class="btn btn-outline-primary">HTML</button> &nbsp;
          <button type="button" class="btn btn-outline-primary">CSS</button> &nbsp;
          <button type="button" class="btn btn-outline-primary">JavaScript</button> &nbsp;
          <button type="button" class="btn btn-outline-primary">Angular</button> &nbsp;
          <button type="button" class="btn btn-outline-primary">SQL</button> &nbsp;
        </p>
      </div>
    </div>
    <br/><br/><br/><br/>
  <section id="skills">
    <div class="row">
       <div class="col-lg-6">
          <h1 style="font-family: google-sans;">Technical Skills</h1><br/>
          <label>HTML</label>
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div><br/>
          <label>CSSL</label>
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div><br/>
          <label>JavaScript</label>
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div><br/>
          <label>PHP</label>
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div><br/>
          <label>Angular</label>
          <div class="progress">
             <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <h1 style="font-family: google-sans;">Soft Skills</h1><br/>
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <circle-progress
                [percent]="85"
                [radius]="75"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#007bff'"
                [innerStrokeColor]="'#e9ecef'"
                [animation]="true"
                [animationDuration]="300">
                </circle-progress>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="p-2 bd-highlight">
            <circle-progress
                [percent]="70"
                [radius]="75"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#007bff'"
                [innerStrokeColor]="'#e9ecef'"
                [animation]="true"
                [animationDuration]="300">
                </circle-progress>
          </div>
        </div><!--end-->
        <div class="d-flex flex-row bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <circle-progress
                [percent]="65"
                [radius]="75"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#007bff'"
                [innerStrokeColor]="'#e9ecef'"
                [animation]="true"
                [animationDuration]="300">
                </circle-progress>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="p-2 bd-highlight">
            <circle-progress
                [percent]="55"
                [radius]="75"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#007bff'"
                [innerStrokeColor]="'#e9ecef'"
                [animation]="true"
                [animationDuration]="300">
                </circle-progress>
          </div>
        </div><!--end-->
      </div>
    </div><br/><br/><br/><br/>
    
</section>
    <h1 style="font-family: google-sans;">What I Do</h1>
    <mat-tab-group>
      <mat-tab label="Frontend"> Content 1 </mat-tab>
      <mat-tab label="Backend"> Content 2 </mat-tab>
      <mat-tab label="Gaming">
        <mat-card class="example-card" style="width:25%;height:26%;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="150" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<br/><br/><br/><br/><br/><br/>
<!-- Contact Form-->
<!-- <div style="margin-right:9%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Sender Name">
        </mat-form-field>
      </div>
      <div class="">
        test2
      </div>
  </div>
</div>  -->
